<p>Current CSS File = {{currentCSSFile}}</p>
<p>Current Index = {{currentIndex}}</p>
<button (click)="setStyleSheet()">Change CSS</button>

<div style="max-width: 600px;" class="myHomeComponenet box hero-box card">
    <p class="text-start">Start aligned text on all viewport sizes.</p>
    <p class="text-center">Center aligned text on all viewport sizes.</p>
    <p class="text-end">End aligned text on all viewport sizes.</p>
    <p>Click here to download the latest (2.37.3) 64-bit version of Git for Windows. This is the most recent maintained
        build. It was released 23 days ago, on 2022-08-30.</p>
    <p>Other Git for Windows downloads</p>
    <p>Standalone Installer</p>
    <p></p>
    <p>32-bit Git for Windows Setup.</p>
    <p></p>
    <p>64-bit Git for Windows Setup.</p>
    <p>Portable ("thumbdrive edition")</p>
    <p></p>
    <p>32-bit Git for Windows Portable.</p>
    <p></p>
    <p>64-bit Git for Windows Portable.</p>
    <p>Using winget tool</p>
    <p></p>
    <p>Install winget tool if you don't already have it, then type this command in command prompt or Powershell.</p>
</div>

